.feeding-checklist {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;

    h1 {
        color: #f97316;
        font-family: 'noto-reg';
        // margin-bottom: 1rem;
    }

    p {
        font-family: 'noto-light';
    }

    h2 {
        color: #f97316;
        font-size: 1.2rem;
    }

    .feeding-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        place-items: center;

        margin-block-start: 2rem;

        .feeding-column {
            background-color: whitesmoke;
            border-radius: 10px;
            padding: 1rem;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
            width: 93%;
            height: 100%;

            p {
                font-size: 0.9rem;
            }
        }
    }


    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        list-style: none;
        padding: 0;
        margin: 1rem 0;

        li {
            border-radius: 8px;
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 1.2rem;

            label {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 3fr 1fr;
                align-items: center;
                gap: 0.5rem;
            }

            input[type="checkbox"] {
                width: 20px;
                height: 20px;
            }

            span {
                font-family: 'noto-regular';
            }
        }
    }

    .details-btn {
        all: unset;
        width: 1.2rem;
        height: 1.2rem;
        justify-self: end;
        border-radius: 50%;
        background-color: transparent;
        // background-color: #f97316;

        img {
            transition: 0.3s;
        }

        &.alert {
            background-color: #f97316;
        }

        &.reg {
            background-color: transparent;
        }

        &:hover img {
            background-color: rgba(255, 255, 255, 25%);
            cursor: pointer;
        }
    }
}