.feeding-checklist {
    padding: 2rem;

    h1 {
        color: #f97316;
        font-family: 'noto-reg';
        margin-bottom: 1rem;
    }

    p {
        font-family: 'noto-light';
    }

    
    ul {
        list-style: none;
        padding: 0;
        margin: 1rem 0;
        
        li {
            margin: 0.5rem 0;
            padding: 0.75rem 1rem;
            border-radius: 8px;
            background: #fff8f0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;
            font-size: 1.2rem;

            label {
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }
            
            input[type="checkbox"] {
                width: 20px;
                height: 20px;
            }

            span {
                font-family: 'noto-regular';
            }
        }
    }
}