.home-page {
    margin-block-start: 3rem;
    color: $gray4;

    h1 {
        display: flex;
        place-items: center;
        gap: 0.7rem;
        font-family: 'noto-med';
        font-size: 2.2rem;

        img {
            max-height: 2rem;
            transform: rotate(-20deg);
        }
    }

    h2 {
        font-family: 'noto-thin';
        font-size: 1.2rem;
    }

    .home-actions {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: fit-content;

        margin-block: 1rem;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.7rem;

            font-size: 1.17rem;
            font-family: 'noto-light';


            img {
                max-height: 1rem;
                transition: transform 0.5s ease;
            }

            &:hover img {
                transform: rotate(90deg);
                // scale: 1.5;
            }

            &:hover {
                filter: brightness(120%);
            }
        }
    }


    .counters {
        display: flex;
        gap: 2rem;
    }

}