.counter {
    // margin-block-start: 6rem;
    display: flex;
    gap: 0.5rem;

    width: fit-content;

    padding: 1rem;
    background-color: white;

    border-radius: 10px;
    border: 1px solid $clr3;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);

    h1 {
        color: $gray4;
        font-size: 1.2rem;
        font-family: 'noto-light';
        width: max-content;
    }

    p {
        color: $clr2;
        font-family: 'noto-bold';
        font-size: 2.2rem;
        margin: 0;
    }

    img {
        height: 3rem;
        align-self: center;
        transform: scaleX(-1);
    }

    &.yard-counter {

        section {
            justify-content: center;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        article {
            display: flex;
            flex-direction: column;
            place-items: center;
        }

        p {
            font-size: 1.2rem;
            line-height: 65%;
        }

        img {
            position: relative;
            right: 5%;
            max-height: 4rem;
        }
    }
}