.dog-filter {
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 1rem 2rem;
    background-color: rgb(254, 244, 219);
    border-radius: 10px;
    border: 0.5px solid $clr4;

    margin-block: 1rem;

    input {
        border: none;
        border-radius: 10px;
        padding: 1rem 2rem;
        width: 80%;
        font-family: 'noto-thin';
    }

    .btn-clear {
        padding: 0.5rem 0.5rem;
        height: fit-content;

        img {
            transform: rotate(45deg);
            max-height: 2rem;
        }

        &:hover {
            scale: 1.2;
        }
    }

}