.dog-preview {
    border-radius: 10px;
    font-family: 'noto-thin';
    font-size: 1rem;

    header {
        display: grid;
        grid-template-columns: 1fr 4fr;
        column-gap: 0.5rem;
        row-gap: 1rem;
        align-items: center;

        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        background: linear-gradient(to right, #F97316, #f9a907);
        padding: 0.5rem;
        color: white;

        h1 {
            font-size: 1.2rem;
            font-family: 'noto-bold';
            text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
        }

        p {
            color: whitesmoke;
            font-family: 'noto-thin';
            text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
        }

        .details-btn {
            all: unset;
            grid-column: 1/-1;
            width: max-content;
            justify-self: end;

            img {
                transition: 0.3s;
                padding: 0.2rem;
            }

            &:hover img {
                background-color: rgba(255, 255, 255, 25%);
            }
        }

        .header-actions {
            grid-column: 1/-1;
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-block-start: 1rem;

            a {
                display: flex;
                align-items: center;

                img {
                    transition: 0.3s;
                    padding: 0.2rem;
                }

                &:hover img {
                    background-color: rgba(255, 255, 255, 25%);
                }

            }

            img {
                max-height: 1.7rem;
            }

        }

        .img-container {
            display: grid;
            place-items: center;

            aspect-ratio: 1 / 1;

            background-color: rgba(255, 255, 255, 40%);
            border-radius: 50%;

            img {
                transform: rotate(-20deg);
                padding: 0.3rem;
            }
        }
    }

    .dog-details {
        display: grid;
        gap: 0.5rem;
        padding: 1.5rem 1rem;

        .details-ctg {
            display: grid;
            grid-template-columns: min-content min-content 1fr;
            place-items: center;
            gap: 0.3rem;

            white-space: nowrap;

            img {
                min-height: 1.2rem;
                min-width: 1.2rem;
            }

        }

    }

    .warning {
        justify-self: center;
        display: flex;
        place-items: center;
        gap: 0.2rem;
        width: fit-content;

        color: #EA3323;
        background-color: rgb(248, 153, 153);
        padding-inline-start: 0.3rem;
        padding-inline-end: 0.5rem;
        border-radius: 10px;
        border: 0.5px solid #EA3323;

        white-space: nowrap;
        font-family: 'noto-med';
        font-size: 0.8rem;

    }

}

.delete-dog {
    &:hover {
        background-color: rgb(162, 162, 162);
    }
}