.list {
    --min-column-size: 150px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-column-size), 1fr));
    gap: .5em;

    li {
        display: flex;
        flex-direction: column;

        max-width: 150px;
        background-color: white;

        border: 0.5px solid $clr3;
        border-radius: 10px;

        button {
            align-self: center;
            width: fit-content;
            aspect-ratio: 1/1;

            opacity: 80%;
            background: unset;
            background-color: rgba(0, 0, 0, 10%);
            padding: 0.5rem;
            border-radius: 50%;
            margin-inline: 1rem;
            margin-block-end: 1rem;

            transition: 0.4s;

            // &:hover {
            //     background-color: rgba(0, 0, 0, 40%);
            // }
        }

    }
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    text-align: center;
}

.modal .actions {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}