.preview {
    border-radius: 10px;
    font-family: 'noto-thin';
    font-size: 1rem;

    header {
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 1rem;
        align-items: center;

        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        background: linear-gradient(to right, #F97316, #f9a907);
        padding: 2.5rem 1rem;
        color: white;

        section {
            display: grid;
        }

        h1 {
            font-size: 1.2rem;
            font-family: 'noto-bold';
        }

        p {
            color: whitesmoke;
            font-family: 'noto-thin';
        }

        .header-actions {
            position: relative;
            bottom: -80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            grid-column: 1/-1;


            img {
                max-height: 2rem;
            }

            .add-stay-btn {
                display: flex;
                margin-inline: 0.3rem;

                img {
                    padding: 0.2rem;
                    transition: 0.3s;
                }

                &:hover img {
                    background-color: rgba(255, 255, 255, 25%);
                }
            }

            .edit-btn {
                padding: 0.2rem;
                transition: 0.3s;

                img {
                    max-height: 1.7rem;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 25%);
                }
            }
        }
    }

    .img-container {
        display: grid;
        place-items: center;

        aspect-ratio: 1 / 1;

        background-color: rgba(255, 255, 255, 40%);
        border-radius: 50%;

        img {
            transform: rotate(-20deg);
            padding: 0.7rem;
        }
    }

    .dog-details {
        display: grid;
        gap: 0.5rem;
        padding: 1.5rem 1rem;

        .details-ctg {
            display: grid;
            grid-template-columns: min-content min-content 1fr;
            place-items: center;
            gap: 0.3rem;

            white-space: nowrap;

            img {
                min-height: 1.2rem;
                min-width: 1.2rem;
            }

            .warning {
                justify-self: end;
                display: flex;
                place-items: center;
                gap: 0.2rem;
                width: fit-content;

                color: #EA3323;
                background-color: rgb(248, 153, 153);
                padding-inline-start: 0.3rem;
                padding-inline-end: 0.5rem;
                border-radius: 10px;
                border: 0.5px solid #EA3323;

                white-space: nowrap;
                font-family: 'noto-med';
                font-size: 0.8rem;

            }
        }
    }

    // .add-stay-btn {
    //     display: flex;
    //     gap: 0;
    //     justify-content: end;
    //     margin-inline-end: 0.5rem;
    //     margin-block-start: 0.5rem;

    //     section {
    //         display: flex;
    //         padding: 0.2rem;
    //         border-radius: 10px;
    //         transition: 0.3s;
    //         border: 0.5px solid rgb(219, 218, 218);

    //         &:hover {
    //             background-color: rgb(242, 241, 240);
    //         }
    //     }

    // }


}