.stay-list {
    .stay-info {
        margin-block-end: 1rem;
        display: grid;
        gap: 0.5rem;
        margin-inline: 0.5rem;
        padding: 0.5rem;
        // border: 2px dotted rgb(142, 193, 235);
        background-color: aliceblue;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);

        border-radius: 10px;

        &.currently-staying {
            background-color: rgb(195, 235, 198);
        }

        &.leaving-today {
            background-color: rgb(235, 195, 195);
        }

        p {
            font-family: 'noto-thin';
            font-size: 1rem;
        }
    }

    .leaving-arriving {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-block-end: 1.5rem;

        .summary-column {
            background-color: #ffffff; // light orange-ish
            border-radius: 10px;
            padding: 1rem;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);

            h3 {
                font-family: 'noto-med';
                color: #f97316;
                margin-bottom: 0.5rem;
                font-size: 1rem;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 0.25rem;

                li {
                    font-family: 'noto-light';
                    font-size: 0.9rem;

                    display: flex;
                    gap: 0.2rem;
                    align-items: center;
                }
            }

            p {
                font-family: 'noto-light';
                font-size: 0.9rem;
                margin: 0;
            }
        }
    }


}